<div class="links">
  <ul class="links-ul">
    <li><a href="./first-component">Display integer, string, date data in a component.</a></li>
    <li><a href="./second-component">Display array values in html list.
      </a></li>
    <li><a href="./third-component">Display array in combo.</a></li>
    <li><a href="./fourth-component">combo with two values (textbox, textarea). Display textbox or textarea
        depending on selection of a combo.</a></li>
    <li><a href="./fifth-component">user input form with user’s personal details, take input
        and display data on submit.</a></li>
  </ul>
</div>
<router-outlet></router-outlet>